# DataFrame Object

DataFrame is the a main object in pandas.It is used to represent data with rows and columns(tabular or excel spreadshee like data)

In [1]:
#Imprting pandas module
import pandas as pd

In [3]:
!git clone https://github.com/keuperj/DATA.git

Cloning into 'DATA'...
remote: Enumerating objects: 87, done.
remote: Counting objects: 100% (87/87), done.
remote: Compressing objects: 100% (73/73), done.
remote: Total 87 (delta 21), reused 79 (delta 13), pack-reused 0
Unpacking objects: 100% (87/87), done.
Checking out files: 100% (61/61), done.

In [4]:
#we have seen how to read CSV or Excel data...
d=pd.read_csv('DATA/weather.csv')
#print dataframe "d"
d.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

### Creating DataFrames from NumPy Arrays
* we can also create DataFrames from Arrays:

In [11]:
import numpy as np
# Creating a 2 dimensional numpy array
data= np.array([[ 5.8,2.8], [ 6.0,2.2]])
data

array([[5.8, 2.8],
       [6. , 2.2]])

In [9]:
#Creating pandas dataframe from dict
dataset = pd.DataFrame({'Column1':data[:,0],'Column2':data[:,1]})
dataset

   Column1  Column2
0      5.8      2.8
1      6.0      2.2

### Exporting  DataFrames to NumPy Arrays
* we can also get an array from a DataFrame

In [12]:
dataset.values

array([[5.8, 2.8],
       [6. , 2.2]])

### Creating DataFrames with dictionaries
  * You can also create DataFrame with python dsctionary very easily.
  * You just need to call DataFrame() function and pass the disctionary as a argument in the function.
  * <b>Note:</b> Notice one thing that i have taken all the columns of same length because you can not make dataframe object if your disctionary has variable column length

In [13]:
#Creatiing my own disctionary
mydict={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
df=pd.DataFrame(mydict)

#Printing the dataframe
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

### Shape of the dataframe
  * <b>df.shape :</b> It will return a tuple (rows,columns)

In [14]:
df.shape

(5, 4)

### Accessing columns :
 * What if you want to print only two columns

In [15]:
df[['day','temp']]

     day  temp
0  sunny    45
1  rainy    46
2    hot    47
3  sunny    48
4    hot    49

### Statistics of your dataframe
 * You can see the statistics of your dataframe by calling describe() function
 * It will print count of the columns,mean,SD,min,max etc..

In [16]:
d.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

### Condition:
 * To get dataframe where temperature is greater than 9

In [17]:
d1=d[d['Temperature (C)']>9]
d1

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [18]:
#How many rows and columns are there in 'd1'?
d1.shape

(56606, 12)

### Changing Index
 * Pandas has its own indexing by default from 0 to row no 
 * We can also reset its index by set_index() function

In [19]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [20]:
df.set_index('dates',inplace=True)

In [21]:
df.index

Index(['02-01-12', '03-01-12', '04-01-12', '05-01-12', '06-01-12'], dtype='object', name='dates')

In [22]:
df

            day  wind-speed  temp
dates
02-01-12  sunny          12    45
03-01-12  rainy          34    46
04-01-12    hot          45    47
05-01-12  sunny          56    48
06-01-12    hot          67    49

#### Now we can find the specific value rows

In [26]:
df.loc['02-01-12']

day           sunny
wind-speed       12
temp             45
Name: 02-01-12, dtype: object

In [25]:
df.iloc[4]

day           hot
wind-speed     67
temp           49
Name: 06-01-12, dtype: object

In [24]:
df.iloc[0:3]

            day  wind-speed  temp
dates
02-01-12  sunny          12    45
03-01-12  rainy          34    46
04-01-12    hot          45    47

In [23]:
df.reset_index()

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49